/* result markers */
lumine-text-editor {
  .find-result .region,
  .current-result .region {
    background-color: var(--syntax-result-marker-color);
    border-radius: 2px;
    border: 2px solid transparent;
    box-sizing: border-box;
    transition: border-color 0.4s;
    z-index: 0;
  }

  .current-result .region {
    border-color: var(--syntax-result-marker-color-selected);
    transition-duration: 0.1s;
  }

  .find-result,
  .current-result {
    display: none;
  }
}

lumine-workspace.find-visible {
  lumine-text-editor {
    .find-result,
    .current-result {
      display: block;
    }
  }
}

/* Both project and buffer FNR styles */
.search-panel,
.preview-pane,
.search-panel-project {
  -webkit-user-select: none;
  padding: calc(var(--ui-padding) / 4);
  overflow-x: auto;

  .header {
    padding: calc(var(--component-padding) / 4) calc(var(--component-padding) / 2);
    min-width: 200px; /* min width before it starts scrolling */
    line-height: 1.75;
  }
  .header-item {
    margin: calc(var(--component-padding) / 4) 0;
  }

  .input-block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 200px; /* min width before it starts scrolling */
  }
  .input-block-item {
    display: flex;
    flex: 1;
    padding: calc(var(--ui-padding) / 4);
  }

  .btn-group {
    display: flex;
    flex: 1;
    .btn {
      flex: 1;
    }
    & + .btn-group {
      margin-left: var(--component-padding);
    }
  }

  .btn > .icon {
    width: 20px;
    height: 16px;
    vertical-align: middle;
    fill: currentColor;
    stroke: currentColor;
    pointer-events: none;
  }

  .close-button {
    margin-left: var(--component-padding);
    cursor: pointer;
    color: var(--text-color-subtle);
    &:hover {
      color: var(--text-color-highlight);
    }
    .icon::before {
      margin-right: 0;
      text-align: center;
      vertical-align: middle;
    }
  }

  .description {
    display: inline-block;
    .subtle-info-message {
      padding-left: 5px;
      color: var(--text-color-subtle);
      .highlight {
        color: var(--text-color);
        font-weight: normal;
      }
    }
  }

  .options-label {
    color: var(--text-color-subtle);
    position: relative;
    .options {
      margin-right: 0.5em;
      color: var(--text-color);
    }
  }

  .btn-group-options {
    display: inline-flex;
    margin-top: -0.1em;

    .btn {
      width: 36px;
      padding: 0;
      line-height: 1.75;
      svg {
        transform: translateY(-2px);
      }
    }
  }

  .editor-container {
    position: relative;
    lumine-text-editor {
      width: 100%;
    }
  }
}

/* Buffer find and replace */
.search-panel-editor {
  .header,
  .input-block {
    min-width: calc(var(--ui-size) * 22);
  }

  .input-block-item {
    flex: 1 1 calc(var(--ui-size) * 22);
  }
  .input-block-item--flex {
    flex: 100 1 calc(var(--ui-size) * 22);
  }

  .btn,
  .btn-group-options .btn {
    padding: 0;
    font-size: calc(var(--ui-size) * 1.1);
  }

  .btn-group-options .btn,
  .btn-group-options .btn.option-selection,
  .btn-group-options .btn.option-whole-word {
    padding: 0;
    font-size: var(--ui-input-size);
  }

  .btn-group-find,
  .btn-group-replace {
    flex: 1;
  }

  .btn-group-find-all,
  .btn-group-replace-all {
    flex: 2;
  }

  .find-container lumine-text-editor {
    padding-right: calc(var(--ui-size) * 5);
  }

  /* results count */
  .find-meta-container {
    position: absolute;
    top: 0;
    right: 0;
    margin: calc(var(--component-padding) / 2) calc(var(--component-padding) / 2) 0 0;
    z-index: 2;
    font-size: var(--ui-size);
    line-height: calc(var(--ui-size) * 2.5);
    pointer-events: none;
    .result-counter {
      margin-right: var(--component-padding);
    }
  }
}

.find-wrap-icon {
  /* Package-local values (converted from Less variables) */
  --search-panel-wrap-size: calc(var(--font-size) * 10);

  opacity: 0;
  transition: opacity 0.5s;
  &.visible {
    opacity: 1;
  }

  position: absolute;

  /* These are getting placed in the DOM as a pane item, so override the pane
     item positioning styles. :/ */
  top: 50% !important;
  left: 50% !important;
  right: initial !important;
  bottom: initial !important;

  margin-top: calc(var(--search-panel-wrap-size) * -0.5);
  margin-left: calc(var(--search-panel-wrap-size) * -0.5);

  background: hsl(from var(--syntax-background-color) h s calc(l - 4) / calc(alpha - 0.55));
  border-radius: calc(var(--component-border-radius) * 2);
  text-align: center;
  pointer-events: none;
  &:before {
    /* Octicons look best in sizes that are multiples of 16px */
    font-size: calc(
      var(--search-panel-wrap-size) - mod(var(--search-panel-wrap-size), 16px) - 32px
    );
    line-height: var(--search-panel-wrap-size);
    height: var(--search-panel-wrap-size);
    width: var(--search-panel-wrap-size);
    color: var(--syntax-text-color);
    opacity: 0.5;
  }
}

/* Project find and replace */
.search-panel-project {
  .header,
  .input-block {
    min-width: calc(var(--ui-size) * 15);
  }

  .input-block-item {
    flex: 1 1 calc(var(--ui-size) * 14);
  }
  .input-block-item--flex {
    flex: 100 1 calc(var(--ui-size) * 20);
  }

  .btn {
    padding: 0;
    font-size: calc(var(--ui-size) * 1.1);
  }

  .btn-group-options .btn {
    padding: 0;
    font-size: var(--ui-input-size);
  }

  .loading,
  .preview-block,
  .error-messages,
  .filter-container {
    display: none;
  }
}

.preview-pane {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;

  .preview-header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: calc(var(--component-padding) / 2);
    align-items: center;
    overflow: hidden;
    font-weight: normal;
    border-bottom: 1px solid var(--panel-heading-border-color);
    background-color: var(--panel-heading-background-color);
  }

  .preview-count {
    margin: calc(var(--component-padding) / 2);
  }

  .preview-controls {
    position: absolute;
    right: calc(var(--component-padding) / 2);
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    .btn-group,
    > .block {
      margin: calc(var(--component-padding) / 2);
    }
  }

  .context-controls {
    display: flex;
    flex-wrap: nowrap;
  }

  .loading-spinner-tiny,
  .loading-spinner-tiny + .inline-block {
    vertical-align: middle;
  }

  .no-results-overlay {
    visibility: hidden;
  }

  &.no-results .no-results-overlay {
    visibility: visible;
  }

  .results-view {
    overflow: auto;
    position: relative;
    flex: 1;

    .list-item {
      padding: 0 0 0 var(--component-padding);
    }
    .context-row,
    .match-row {
      padding: 0 0 0 var(--component-padding);
      margin-left: 8px;

      box-shadow: inset 0 1px 0
        color-mix(in srgb, var(--base-border-color) 50%, var(--base-background-color));

      /* box-shadow over a border is used to not affect height calculation */
      &.separator {
        box-shadow: inset 0 1px 0 var(--base-border-color);
      }
    }

    .line-number {
      margin-right: 1ex;
      text-align: right;
      display: inline-block;
    }
    .match-row.selected .line-number {
      color: var(--text-color-selected);
    }

    .path-match-number {
      padding-left: var(--component-padding);
      color: inherit;
      opacity: 0.6;
    }

    .preview {
      word-break: break-all;
      white-space: pre;
      color: var(--text-color-subtle);
    }

    .match-row .preview {
      color: var(--text-color-highlight);
    }
    .match-row.selected .preview {
      color: var(--text-color-selected);
    }

    .selected {
      .highlight-info {
        box-shadow: inset 0 0 1px hsl(from var(--background-color-info) h s calc(l + 50));
      }

      .highlight-error {
        box-shadow: inset 0 0 1px hsl(from var(--background-color-error) h s calc(l + 25));
      }

      .highlight-success {
        box-shadow: inset 0 0 1px hsl(from var(--background-color-success) h s calc(l + 25));
      }
    }
  }

  .results-view-container {
    /* adds some padding
       so the last item can be clicked
       when there is a horizontal scrollbar -> #943 */
    padding-bottom: var(--component-padding);
  }
}

/* Colorize the find editor based on whether it has results. */
.search-panel-editor {
  &.has-no-results .find-container lumine-text-editor[mini].is-focused {
    border-color: var(--text-color-error);
    box-shadow: 0 0 0 1px var(--text-color-error);
    background-color: color-mix(
      in srgb,
      var(--text-color-error) 10%,
      var(--input-background-color)
    );

    .selection .region {
      background-color: color-mix(
        in srgb,
        var(--text-color-error) 50%,
        var(--input-background-color)
      );
    }

    .cursor {
      border-color: var(--text-color-error);
    }
  }

  &.has-results .find-container lumine-text-editor[mini].is-focused {
    border-color: var(--text-color-success);
    box-shadow: 0 0 0 1px var(--text-color-success);
    background-color: color-mix(
      in srgb,
      var(--text-color-success) 10%,
      var(--input-background-color)
    );

    .selection .region {
      background-color: color-mix(
        in srgb,
        var(--text-color-success) 50%,
        var(--input-background-color)
      );
    }

    .cursor {
      border-color: var(--text-color-success);
    }
  }

  &.has-results .find-container .result-counter {
    color: var(--text-color-success);
  }

  &.has-no-results .find-container .result-counter {
    color: var(--text-color-error);
  }
}

.find-container lumine-text-editor,
.replace-container lumine-text-editor {
  /* Styles for regular expression highlighting */
  .syntax--regexp {
    .syntax--escape {
      color: var(--text-color-info);
    }
    .syntax--range,
    .syntax--character-class,
    .syntax--wildcard {
      color: var(--text-color-success);
    }
    .syntax--wildcard {
      font-weight: bold;
    }
    .syntax--set {
      color: inherit;
    }
    .syntax--keyword,
    .syntax--punctuation {
      color: var(--text-color-error);
      font-weight: normal;
    }

    .syntax--replacement.syntax--variable {
      color: var(--text-color-warning);
    }
  }
}
